p{
    margin: 3px;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
input{
    display: block;
    margin-bottom: 10px;
}
.thumbnail{
    width: 400px;
    border-radius: 10px;
}
.video-preview{
    width: 400px;
    display: inline-block;
    margin-right: 10px;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
    align-items: center;
}
.profile{
    width: 40px;
    border-radius: 50px;
}
.video-content{
    display: inline-block;
}

