p{
    font-family: "roboto",Arial;
    margin: 3px;
    padding: 0;
}
input{
    display: block;
    margin-bottom: 10px;
}
.thumbnail{
    width: 400px;
    border-radius: 10px;
}
.video-preview{
    width: 400px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.profile{
    width: 40px;
    border-radius: 50px;
}
.video-content{
    display: inline-block;
    width: 345px;
}
.video-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.channel-name,.video-stats{
    font-size: 12px;
    color: #757575;
}

